.verticle-slider .slider .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.verticle-slider .slider .swiper-container .swiper-wrapper {
  margin: 0;
}
.verticle-slider .slider .swiper-container .swiper-wrapper .swiper-slide {
  padding: 0;
}
.verticle-slider .slider-flex {
  display: flex;
  align-items: flex-start;
}
.verticle-slider .slider-col {
  margin: 4.06rem 2em 4.06rem 6.06rem;
}
.verticle-slider .vertical-slider-prev {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -40px;
}
.verticle-slider .vertical-slider-prev:focus {
  outline: none;
}
.verticle-slider .vertical-slider-next {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -40px;
}
.verticle-slider .vertical-slider-next:focus {
  outline: none;
}
.verticle-slider i.vertical-aerrow {
  background: rgba(0, 1, 0);
  width: 4.375em;
  text-align: center;
}
.verticle-slider .slider-thumbs {
  height: 40em;
  width: 21.875em;
}
.verticle-slider .slider-thumbs .swiper-bg::before {
  display: none;
}
.verticle-slider .slider-thumbs .slider--image {
  transition: 0.25s;
}
.verticle-slider .slider-thumbs .slider--image:hover {
  opacity: 1;
}
.verticle-slider
  .slider-thumbs
  .swiper-slide.swiper-slide-active
  .hover-buttons {
  opacity: 1;
}
.verticle-slider
  .slider-thumbs
  .swiper-slide.swiper-slide-active
  .block-images::before {
  opacity: 1;
  transition: all 0.45s ease 0s;
}
.verticle-slider .slider-thumbs .swiper-slide .block-images {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000),
    color-stop(51.04%, rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 51.04%);
  background: -o-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 51.04%);
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 51.04%);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 0.188rem;
  border-radius: 0.188rem;
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}
.verticle-slider .slider-thumbs .swiper-slide .block-images img {
  mix-blend-mode: overlay;
}
.verticle-slider .slider-thumbs .swiper-slide .block-images .block-description {
  position: absolute;
  top: auto;
  bottom: 1.25rem;
  padding: 0 1.25rem;
}
.verticle-slider
  .slider-thumbs
  .swiper-slide
  .block-images
  .block-description
  .iq-title {
  color: #fff;
  font-size: 1.33125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9375rem;
  text-transform: capitalize;
}
.verticle-slider
  .slider-thumbs
  .swiper-slide
  .block-images
  .block-description
  .iq-title
  a {
  text-decoration: none;
  color: #fff;
}
.verticle-slider
  .slider-thumbs
  .swiper-slide.swiper-slide-active
  .block-images {
  border-color: #e50914;
}
.verticle-slider .slider-images {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.verticle-slider .slider-images .slider--image {
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(
    7deg,
    #000 31.49%,
    rgba(0, 0, 0, 0) 82.3%
  );
  background: -o-linear-gradient(7deg, #000 31.49%, rgba(0, 0, 0, 0) 82.3%);
  background: linear-gradient(83deg, #000 31.49%, rgba(0, 0, 0, 0) 82.3%);
}
.verticle-slider .slider-images .slider--image img {
  transition: 3s;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.verticle-slider .slider-images .description {
  position: absolute;
  top: 50%;
  left: 33rem;
  width: 30%;
  z-index: 99;
  transform: translateY(-50%);
}
.verticle-slider .slider-images .description .iq-title a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .verticle-slider .slider-col {
    display: none;
  }
  .verticle-slider .slider-images {
    position: unset;
    height: 100%;
    padding: 0 1rem;
  }
  .verticle-slider .slider-images .slider--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .verticle-slider .slider-images .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    height: 430px;
    width: 100%;
    overflow-y: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .verticle-slider .slider-images .swiper-wrapper {
    margin: 0;
  }
  .verticle-slider .slider-images .swiper-wrapper .swiper-slide {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .verticle-slider .slider-images {
    padding: 0;
  }
  .verticle-slider .slider-images .description .iq-title a {
    font-size: 1.5615rem;
  }
}
